/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: biz;
  src: url("/Lintel-Regular.otf");
}
/* line 16, ../sass/main.scss */
html, body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaklEQVQYV2NkYGAwBuKzQAwC9UA8C4ifQ/n/GaEMkCIfIG6E8iWB9DMgZoQpAOncgmTSfyBbCmQSSAFIEqYTZNIZkE6YSSAGyDi4nUC2CbKb4CphdqK7CaYAbieSb8BuAikASSKblIbsJgCKXBfTNjWx1AAAAABJRU5ErkJggg==);
  background-color: #F0E130;
  width: 100%;
  height: 100%;
}

/* line 24, ../sass/main.scss */
#container {
  margin: 0 auto;
  margin-bottom: 31px;
  width: 920px;
  min-height: 100%;
}
/* line 30, ../sass/main.scss */
#container:after {
  content: "";
  display: block;
  height: 31px;
}

/* line 37, ../sass/main.scss */
#menu {
  float: left;
  font-weight: 100;
  width: 100%;
  height: 100px;
  background-color: #efefef;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  opacity: 0.8;
  font-family: biz;
  border-top: 10px solid #00923f;
  border-bottom: 10px solid #00923f;
}
/* line 53, ../sass/main.scss */
#menu ul {
  width: 920px;
  height: 100px;
  margin: 0 auto;
}
/* line 58, ../sass/main.scss */
#menu li {
  display: block;
  float: left;
  width: 20%;
  height: 100px;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  transition: 1s;
  line-height: 100px;
}
/* line 70, ../sass/main.scss */
#menu li:nth-child(3) {
  background-image: url("../img/auto_click_name.svg");
  background-size: 100% 100%;
}
/* line 75, ../sass/main.scss */
#menu li a {
  color: #003c1f !important;
  text-decoration: none;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
/* line 79, ../sass/main.scss */
#menu li a:hover {
  color: #ccff66;
}

/* line 86, ../sass/main.scss */
#slider {
  float: left;
  height: 280px;
  width: 900px;
  margin-top: 20px;
  opacity: 0.7;
  box-shadow: 0 0 0 10px #00923f inset;
  padding: 10px;
  z-index: 4;
}

/* line 97, ../sass/main.scss */
#content_container {
  float: left;
  width: 920px;
  min-height: 200px;
  background-color: #00544b;
  margin-top: 20px;
}
/* line 103, ../sass/main.scss */
#content_container h3 {
  float: left;
  width: 100%;
  height: 30px;
  background-color: #00923f;
  color: #00544b;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 115, ../sass/main.scss */
#content_container p {
  display: block;
  float: left;
  margin: 20px;
  line-height: 2em;
}

/* line 123, ../sass/main.scss */
#content_inner {
  float: left;
  width: 80%;
  min-height: 200px;
  max-height: 100%;
  color: #b5cbb3;
}

/* line 132, ../sass/main.scss */
#key_container {
  float: left;
  min-height: 200px;
  max-height: 100%;
  width: 20%;
  background-color: #00544b;
  -moz-box-shadow: 0 0 0 15px #00923f inset;
  -webkit-box-shadow: 0 0 0 15px #00923f inset;
  box-shadow: 0 0 0 15px #00923f inset;
}

/* line 142, ../sass/main.scss */
#key {
  height: 200px;
  width: 150px;
  margin: 0 auto;
  margin-top: 5%;
}
/* line 147, ../sass/main.scss */
#key img {
  position: absolute;
  height: 150px;
  width: 75px;
  margin-left: 37.5px;
}

/* line 156, ../sass/main.scss */
.float {
  -moz-animation-name: Floating;
  -webkit-animation-name: Floating;
  animation-name: Floating;
  -moz-animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floating {
  /* line 164, ../sass/main.scss */
  from {
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }

  /* line 165, ../sass/main.scss */
  65% {
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }

  /* line 166, ../sass/main.scss */
  to {
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
}
/* line 169, ../sass/main.scss */
.slider_box {
  float: left;
  position: relative;
  z-index: 1;
  width: 80%;
  height: 150px;
  background-color: white;
  overflow: hidden;
  margin-left: 10%;
}

/* line 180, ../sass/main.scss */
.slider_container {
  position: absolute;
  z-index: -3;
  height: 150px;
  width: 100%;
}

/* line 188, ../sass/main.scss */
.slider_inner {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 150px;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
/* line 194, ../sass/main.scss */
.slider_inner.fromRight {
  margin-left: -80%;
}
/* line 196, ../sass/main.scss */
.slider_inner.fromRight:after {
  content: "";
  float: right;
  position: relative;
  z-index: 3;
  width: 20%;
  height: 150px;
  background-color: yellow;
}
/* line 206, ../sass/main.scss */
.slider_inner.fromLeft {
  margin-left: 80%;
}
/* line 208, ../sass/main.scss */
.slider_inner.fromLeft:after {
  content: "";
  float: left;
  position: relative;
  z-index: 3;
  width: 20%;
  height: 150px;
  background-color: yellow;
}

/* line 220, ../sass/main.scss */
.effect {
  margin-left: 0% !important;
  background-color: blue;
}

/* line 227, ../sass/main.scss */
#bottom_footer {
  float: left;
  width: 920px;
  height: 200px;
  margin-top: 20px;
  background-color: #00544b;
}

/* line 236, ../sass/main.scss */
#left_footer {
  float: left;
  width: 306.66px;
  height: 100%;
  background-image: url("../img/auto_click_name.svg");
  background-size: 100% 100%;
  -moz-border-radius-topleft: 10%;
  -webkit-border-top-left-radius: 10%;
  border-top-left-radius: 10%;
  -moz-border-radius-bottomleft: 10%;
  -webkit-border-bottom-left-radius: 10%;
  border-bottom-left-radius: 10%;
}
/* line 244, ../sass/main.scss */
#left_footer:before {
  content: "";
  margin-right: -35px;
  float: right;
  position: relative;
  z-index: 3;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #5bb531;
  background-color: #2f4f4f;
}
/* line 256, ../sass/main.scss */
#left_footer:after {
  content: "";
  float: right;
  position: relative;
  z-index: 3;
  margin-right: -70px;
  margin-top: 165px;
  border-left: 35px solid transparent;
  border-right: 35px solid #5bb531;
  border-bottom: 35px solid #5bb531;
  background-color: #2f4f4f;
}

/* line 271, ../sass/main.scss */
#center_footer {
  float: left;
  width: 306.66px;
  height: 200px;
  color: #00544b;
}
/* line 277, ../sass/main.scss */
#center_footer h3 {
  /* border: {
   top: 1px solid white;
   right: 1px solid white;
   left: 1px solid white;
   }*/
  float: left;
  margin-left: 35px;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
  text-transform: uppercase;
  width: 236.66px;
  height: 34px;
  background-color: white;
  border-bottom: 1px solid white;
}
/* line 295, ../sass/main.scss */
#center_footer:before {
  content: "";
  float: right;
  margin-right: -35px;
  position: relative;
  z-index: 3;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #5bb531;
  background-color: #2f4f4f;
}
/* line 307, ../sass/main.scss */
#center_footer:after {
  content: "";
  float: right;
  position: relative;
  z-index: 3;
  margin-right: -35px;
  border-left: 272px solid #5bb531;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #5bb531;
  background-color: #2f4f4f;
}

/* line 322, ../sass/main.scss */
.testimonials {
  float: left;
  height: 40px;
  width: 100%;
}
/* line 326, ../sass/main.scss */
.testimonials:nth-child(3) {
  height: 50px;
  background-color: black;
}
/* line 329, ../sass/main.scss */
.testimonials:nth-child(3) p {
  height: 50px;
}
/* line 333, ../sass/main.scss */
.testimonials p {
  display: block;
  float: left;
  box-shadow: 0 0 0 1px white inset;
  width: 271.66px;
  height: 40px;
}

/* line 343, ../sass/main.scss */
.photo {
  float: left;
  height: 40px;
  width: 35px;
}
/* line 347, ../sass/main.scss */
.photo:nth-child(3) {
  height: 50px;
}
/* line 351, ../sass/main.scss */
.photo i {
  font-size: 30px;
  line-height: 50px;
  color: white;
}

/* line 359, ../sass/main.scss */
#right_footer {
  float: left;
  width: 306.66px;
  height: 100%;
  text-align: center;
  font-size: 20px;
}
/* line 368, ../sass/main.scss */
#right_footer h3 {
  float: left;
  margin-left: 35px;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
  text-transform: uppercase;
  width: 271.66px;
  height: 34px;
  border-bottom: 1px solid white;
  color: #00544b;
  background-color: white;
}
/* line 381, ../sass/main.scss */
#right_footer p {
  display: block;
  float: left;
  height: 65px;
  width: 100%;
  text-align: center;
  line-height: 65px;
}
/* line 390, ../sass/main.scss */
#right_footer:after {
  content: "";
  float: right;
  width: 50px;
  height: 35px;
  background: #5bb531;
}

/* line 398, ../sass/main.scss */
input, label {
  float: left;
  clear: both;
  margin: 10px;
}

/* line 404, ../sass/main.scss */
.name {
  width: 460px;
  height: 30px;
  font-size: 25px;
}

/* line 410, ../sass/main.scss */
.email {
  width: 460px;
  height: 30px;
  font-size: 25px;
}

/* line 416, ../sass/main.scss */
.message {
  width: 900px;
  height: 300px;
}

/* line 421, ../sass/main.scss */
.btn {
  width: 100px;
  height: 50px;
  background: #2f4f4f;
  text-align: center;
  cursor: pointer;
  border: 0.126em solid white;
  font-size: 25px;
  line-height: 30px;
  color: white;
}
/* line 431, ../sass/main.scss */
.btn:hover {
  transition: 0.2s ease-in-out;
  background: #18a8e1;
}

/* line 437, ../sass/main.scss */
footer {
  margin: 0;
  float: left;
  height: 31px;
  width: 100%;
  border-top: 1px solid #00544b;
  background-color: black;
  color: white;
}
/* line 445, ../sass/main.scss */
footer p {
  display: block;
  width: 920px;
  margin: 0 auto;
  line-height: 30px;
}
